.about {
    background: $color-cadet-blue;
    color: $color-bright-gray;
    opacity: 0;
}

.about_wrapper {
    padding-top: 10rem;
}

.about_title {
    @extend %title-100;
    
    margin: auto;
    max-width: 126rem;
    line-height: 1;
    text-align: center;

    @include media('<phone') {
        max-width: 67.7rem;
    }
}
