.collections {
    @extend %cover;
}

.collections_wrapper {
    @extend %cover;
}

.collection_titles {
    display: flex;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%) rotate(90deg);

} 

.collections_title_label {
    
}

.collections_titles_title {
    
}

.collections_gallery {
    
} 

.collections_gallery_wrapper {
    
} 

.collections_gallery_link {
    
}

.collections_gallery_media {
    
} 

.collections_gallery_media_image {
    
}

.collections_content {
    
} 

.collection_article {
    
} 

.collections_article_title {
    
}

.collections_article_description {
    
}